fastapi
uvicorn[standard]
python-multipart

sqlalchemy
psycopg2-binary
pgvector

pydantic
pydantic-settings
python-dotenv

docling
sentence-transformers
torch

google-genai
openai

psutil
numpy

pytest
httpx